.header {
    background: #242424;
    border-bottom: 1px solid #000000;
}

.headerOpt {
    display: flex;
}

 .header .logo {
    flex-grow: 1;
    padding: 4px;
}

.logo img {
    padding-left: 10px;
    width:35px;
}